<!DOCTYPE html>
<html>
  <head>
    <title><%= head %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <% include templates/header.ejs %>
    <h1>stupid </h1>
    <p> She is crazy</p>
  </body>
</html>
